In [663]:
import numpy as np
import pandas as pd
import re
import math

jab_file = '/home/bigboss/Documents/Python/Python for Data Analysis/assignments/assignment2/assets/NISPUF17.csv'

In [664]:
df = pd.read_csv(jab_file, index_col = 0)
df_col = pd.read_csv(jab_file, usecols=['SEQNUMC', 'EDUC1', 'STATE'])
df

,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28461,19141,1914,2,NaN,21.188088,2062,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28462,121401,12140,2,NaN,26.503010,2004,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28463,128831,12883,2,NaN,27.520652,2004,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28464,82921,8292,2,NaN,22.390587,2062,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28465,244621,24462,2,NaN,27.520652,2004,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [665]:
cols = list(df.columns)
print(cols)

['SEQNUMC', 'SEQNUMHH', 'PDAT', 'PROVWT_D', 'RDDWT_D', 'STRATUM', 'YEAR', 'AGECPOXR', 'HAD_CPOX', 'AGEGRP', 'BF_ENDR06', 'BF_EXCLR06', 'BF_FORMR08', 'BFENDFL06', 'BFFORMFL06', 'C1R', 'C5R', 'CBF_01', 'CEN_REG', 'CHILDNM', 'CWIC_01', 'CWIC_02', 'EDUC1', 'FRSTBRN', 'I_HISP_K', 'INCPORAR', 'INCPORAR_I', 'INCPOV1', 'INCQ298A', 'LANGUAGE', 'M_AGEGRP2', 'MARITAL2', 'MOBIL_I', 'NUM_PHONE', 'NUM_CELLS_HH', 'NUM_CELLS_PARENTS', 'RACE_K', 'RACEETHK', 'RENT_OWN', 'SEX', 'ESTIAP17', 'EST_GRANT', 'STATE', 'D6R', 'D7', 'N_PRVR', 'PROV_FAC', 'REGISTRY', 'VFC_ORDER', 'HEP_BRTH', 'HEP_FLAG', 'P_NUHEPX', 'P_NUHIBX', 'P_NUHPHB', 'P_NUMDAH', 'P_NUMDHI', 'P_NUMDIH', 'P_NUMDTA', 'P_NUMDTP', 'P_NUMFLU', 'P_NUMFLUL', 'P_NUMFLUM', 'P_NUMFLUN', 'P_NUMHEA', 'P_NUMHEN', 'P_NUMHEP', 'P_NUMHG', 'P_NUMHHY', 'P_NUMHIB', 'P_NUMHIN', 'P_NUMHION', 'P_NUMHM', 'P_NUMHS', 'P_NUMIPV', 'P_NUMMCN', 'P_NUMMMR', 'P_NUMMMRX', 'P_NUMMMX', 'P_NUMMP', 'P_NUMMPR', 'P_NUMMRV', 'P_NUMMS', 'P_NUMMSM', 'P_NUMMSR', 'P_NUMOLN', 'P_NUMOPV', 'P_NUMPCV', 'P_NUMPCP', 'P_NUMPCC', 'P_NUMPCC7', 'P_NUMPCC13', 'P_NUMPCCN', 'P_NUMPCN', 'P_NUMPOL', 'P_NUMRB', 'P_NUMRG', 'P_NUMRM', 'P_NUMRO', 'P_NUMROT', 'P_NUMTPN', 'P_NUMVRC', 'P_NUMVRN', 'P_NUMVRX', 'P_U12VRC', 'P_UTD331', 'P_UTD431', 'P_UTDHEP', 'P_UTDHEPA1', 'P_UTDHEPA2', 'P_UTDHIB', 'P_UTDHIB_ROUT_S', 'P_UTDHIB_SHORT_S', 'P_UTDMCV', 'P_UTDMMX', 'P_UTDPC3', 'P_UTDPCV', 'P_UTDPCVB13', 'P_UTDPOL', 'P_UTDROT_S', 'P_UTDTP3', 'P_UTDTP4', 'PU431331', 'P_UTD431H31_ROUT_S', 'PU431_31', 'PU4313313', 'P_UTD431H313_ROUT_S', 'PU4313314', 'P_UTD431H314_ROUT_S', 'PU431_314', 'PUT43133', 'P_UTD431H3_ROUT_S', 'PUTD4313', 'P_UTD431H_ROUT_S', 'U1D_HEP', 'U2D_HEP', 'U3D_HEP', 'DDTP1', 'DDTP2', 'DDTP3', 'DDTP4', 'DDTP5', 'DDTP6', 'DDTP7', 'DDTP8', 'DDTP9', 'DFLU1', 'DFLU2', 'DFLU3', 'DFLU4', 'DFLU5', 'DFLU6', 'DFLU7', 'DFLU8', 'DFLU9', 'DHEPA1', 'DHEPA2', 'DHEPA3', 'DHEPA4', 'DHEPA5', 'DHEPA6', 'DHEPA7', 'DHEPA8', 'DHEPA9', 'DHEPB1', 'DHEPB2', 'DHEPB3', 'DHEPB4', 'DHEPB5', 'DHEPB6', 'DHEPB7', 'DHEPB8', 'DHEPB9', 'DHIB1', 'DHIB2', 'DHIB3', 'DHIB4', 'DHIB5', 'DHIB6', 'DHIB7', 'DHIB8', 'DHIB9', 'DMMR1', 'DMMR2', 'DMMR3', 'DMMR4', 'DMMR5', 'DMMR6', 'DMMR7', 'DMMR8', 'DMMR9', 'DMP1', 'DMP2', 'DMP3', 'DMP4', 'DMP5', 'DMP6', 'DMP7', 'DMP8', 'DMP9', 'DMPRB1', 'DMPRB2', 'DMPRB3', 'DMPRB4', 'DMPRB5', 'DMPRB6', 'DMPRB7', 'DMPRB8', 'DMPRB9', 'DPCV1', 'DPCV2', 'DPCV3', 'DPCV4', 'DPCV5', 'DPCV6', 'DPCV7', 'DPCV8', 'DPCV9', 'DPOLIO1', 'DPOLIO2', 'DPOLIO3', 'DPOLIO4', 'DPOLIO5', 'DPOLIO6', 'DPOLIO7', 'DPOLIO8', 'DPOLIO9', 'DRB1', 'DRB2', 'DRB3', 'DRB4', 'DRB5', 'DRB6', 'DRB7', 'DRB8', 'DRB9', 'DROT1', 'DROT2', 'DROT3', 'DROT4', 'DROT5', 'DROT6', 'DROT7', 'DROT8', 'DROT9', 'DVRC1', 'DVRC2', 'DVRC3', 'DVRC4', 'DVRC5', 'DVRC6', 'DVRC7', 'DVRC8', 'DVRC9', 'DTP1_AGE', 'DTP2_AGE', 'DTP3_AGE', 'DTP4_AGE', 'DTP5_AGE', 'DTP6_AGE', 'DTP7_AGE', 'DTP8_AGE', 'DTP9_AGE', 'FLU1_AGE', 'FLU2_AGE', 'FLU3_AGE', 'FLU4_AGE', 'FLU5_AGE', 'FLU6_AGE', 'FLU7_AGE', 'FLU8_AGE', 'FLU9_AGE', 'HEA1_AGE', 'HEA2_AGE', 'HEA3_AGE', 'HEA4_AGE', 'HEA5_AGE', 'HEA6_AGE', 'HEA7_AGE', 'HEA8_AGE', 'HEA9_AGE', 'HEP1_AGE', 'HEP2_AGE', 'HEP3_AGE', 'HEP4_AGE', 'HEP5_AGE', 'HEP6_AGE', 'HEP7_AGE', 'HEP8_AGE', 'HEP9_AGE', 'HIB1_AGE', 'HIB2_AGE', 'HIB3_AGE', 'HIB4_AGE', 'HIB5_AGE', 'HIB6_AGE', 'HIB7_AGE', 'HIB8_AGE', 'HIB9_AGE', 'MMR1_AGE', 'MMR2_AGE', 'MMR3_AGE', 'MMR4_AGE', 'MMR5_AGE', 'MMR6_AGE', 'MMR7_AGE', 'MMR8_AGE', 'MMR9_AGE', 'MP1_AGE', 'MP2_AGE', 'MP3_AGE', 'MP4_AGE', 'MP5_AGE', 'MP6_AGE', 'MP7_AGE', 'MP8_AGE', 'MP9_AGE', 'MPR1_AGE', 'MPR2_AGE', 'MPR3_AGE', 'MPR4_AGE', 'MPR5_AGE', 'MPR6_AGE', 'MPR7_AGE', 'MPR8_AGE', 'MPR9_AGE', 'PCV1_AGE', 'PCV2_AGE', 'PCV3_AGE', 'PCV4_AGE', 'PCV5_AGE', 'PCV6_AGE', 'PCV7_AGE', 'PCV8_AGE', 'PCV9_AGE', 'POL1_AGE', 'POL2_AGE', 'POL3_AGE', 'POL4_AGE', 'POL5_AGE', 'POL6_AGE', 'POL7_AGE', 'POL8_AGE', 'POL9_AGE', 'RB1_AGE', 'RB2_AGE', 'RB3_AGE', 'RB4_AGE', 'RB5_AGE', 'RB6_AGE', 'RB7_AGE', 'RB8_AGE', 'RB9_AGE', 'ROT1_AGE', 'ROT2_AGE', 'ROT3_AGE', 'ROT4_AGE', 'ROT5_AGE', 'ROT6_AGE', 'ROT7_AGE', 'ROT8_AGE', 'ROT9_AGE', 'VRC1_AGE', 'VRC2_AGE', 'VRC3_AGE', 'VRC4_AGE', 'VRC5_AGE', 'VRC6_AGE', 'VRC7_AGE', 'VRC8_AGE', 'VRC9_AGE', 'XDTPTY1', 'XDTPTY2', 'XDTPTY3', 'XDTPTY4', 'XDTPTY5', 'XDTPTY6', 'XDTPTY7', 'XDTPTY8', 'XDTPTY9', 'XFLUTY1', 'XFLUTY2', 'XFLUTY3', 'XFLUTY4', 'XFLUTY5', 'XFLUTY6', 'XFLUTY7', 'XFLUTY8', 'XFLUTY9', 'XHEPTY1', 'XHEPTY2', 'XHEPTY3', 'XHEPTY4', 'XHEPTY5', 'XHEPTY6', 'XHEPTY7', 'XHEPTY8', 'XHEPTY9', 'XHIBTY1', 'XHIBTY2', 'XHIBTY3', 'XHIBTY4', 'XHIBTY5', 'XHIBTY6', 'XHIBTY7', 'XHIBTY8', 'XHIBTY9', 'XMMRTY1', 'XMMRTY2', 'XMMRTY3', 'XMMRTY4', 'XMMRTY5', 'XMMRTY6', 'XMMRTY7', 'XMMRTY8', 'XMMRTY9', 'XPCVTY1', 'XPCVTY2', 'XPCVTY3', 'XPCVTY4', 'XPCVTY5', 'XPCVTY6', 'XPCVTY7', 'XPCVTY8', 'XPCVTY9', 'XPOLTY1', 'XPOLTY2', 'XPOLTY3', 'XPOLTY4', 'XPOLTY5', 'XPOLTY6', 'XPOLTY7', 'XPOLTY8', 'XPOLTY9', 'XROTTY1', 'XROTTY2', 'XROTTY3', 'XROTTY4', 'XROTTY5', 'XROTTY6', 'XROTTY7', 'XROTTY8', 'XROTTY9', 'XVRCTY1', 'XVRCTY2', 'XVRCTY3', 'XVRCTY4', 'XVRCTY5', 'XVRCTY6', 'XVRCTY7', 'XVRCTY8', 'XVRCTY9', 'INS_STAT2_I', 'INS_BREAK_I']

In [666]:
df_col

       SEQNUMC  EDUC1  STATE
0       128521      4     47
1        10741      3      6
2       220011      3     40
3        86131      4     27
4       227141      1     34
...        ...    ...    ...
28460    19141      3     38
28461   121401      2     23
28462   128831      3     23
28463    82921      2     38
28464   244621      4     23

[28465 rows x 3 columns]

In [667]:
education = {1: "less than high school", 
             2: "high school", 
             3: "more than high school but not college", 
             4: "college"}

In [668]:
short_df = df_col.head(10)
short_df

   SEQNUMC  EDUC1  STATE
0   128521      4     47
1    10741      3      6
2   220011      3     40
3    86131      4     27
4   227141      1     34
5   207941      3     54
6   221381      4     34
7   182861      3      9
8   161121      2     42
9   143401      3      6

In [669]:
print(len(df_col))
edu_dic = {"less than high school": 0,
            "high school": 0,
            "more than high school but not college": 0,
             "college": 0}
for x in range(len(df_col)):
    for y in range(1, 5, 1):
        if (df_col.iloc[x]['EDUC1']) == y:
            if y == 1:
                edu_dic["less than high school"] = edu_dic["less than high school"] + 1
            elif y == 2:
                edu_dic["high school"] = edu_dic["high school"] + 1
            elif y == 3:
                edu_dic["more than high school but not college"] = edu_dic["more than high school but not college"] + 1
            else:
                edu_dic["college"] = edu_dic["college"] + 1
print(edu_dic)
totes = edu_dic["less than high school"] + edu_dic["high school"] + edu_dic["more than high school but not college"] + edu_dic["college"]
print(totes)

28465
{'less than high school': 2904, 'high school': 4906, 'more than high school but not college': 6999, 'college': 13656}
28465

In [670]:
edu_dic_per = {}
edu_dic_per["less than high school"] = edu_dic["less than high school"]/28465
edu_dic_per["high school"] = edu_dic["high school"]/28465
edu_dic_per["more than high school but not college"] = edu_dic["more than high school but not college"]/28465
edu_dic_per["college"] = edu_dic["college"]/28465
perc_tote = (edu_dic_per["less than high school"] + edu_dic_per["high school"] + edu_dic_per["more than high school but not college"] + edu_dic_per["college"]) * 100
print(edu_dic_per)
print(type(edu_dic_per))
print(perc_tote)

{'less than high school': 0.10202002459160373, 'high school': 0.172352011241876, 'more than high school but not college': 0.24588090637625154, 'college': 0.47974705779026877}
<class 'dict'>
100.0

# Winner for Question 1

In [671]:
def proportion_of_education():
    # your code goes here
    # YOUR CODE HERE
    df = pd.read_csv(jab_file, usecols=['SEQNUMC', 'EDUC1'])
    edu_dic = {"less than high school": 0,
            "high school": 0,
            "more than high school but not college": 0,
             "college": 0}
    df_mask_one = df['EDUC1'] == 1
    edu_dic["less than high school"] = len(df[df_mask_one])
    
    df_mask_two = df['EDUC1'] == 2
    edu_dic["high school"] = len(df[df_mask_two])
    
    df_mask_three = df['EDUC1'] == 3
    edu_dic["more than high school but not college"] = len(df[df_mask_three])
    
    df_mask_four = df['EDUC1'] == 4
    edu_dic["college"] = len(df[df_mask_four])
    
    edu_dic_per = {}
    edu_dic_per["less than high school"] = edu_dic["less than high school"]/len(df)
    edu_dic_per["high school"] = edu_dic["high school"]/len(df)
    edu_dic_per["more than high school but not college"] = edu_dic["more than high school but not college"]/len(df)
    edu_dic_per["college"] = edu_dic["college"]/len(df)
    perc_tote = (edu_dic_per["less than high school"] + edu_dic_per["high school"] + edu_dic_per["more than high school but not college"] + edu_dic_per["college"]) * 100
        
    #print(df[df_mask_one])
    #print(len(df[df_mask_one]))
    print('*'*10)
    #df_mask_one = df.where('EDUC1', 1)
    print(df.head(10))
    print('*'*10)
    print(df_mask_one.head(10))
    print('*'*10)
    print(edu_dic)
    print(edu_dic_per)
    print(perc_tote)

In [672]:
print(proportion_of_education())

**********
   SEQNUMC  EDUC1
0   128521      4
1    10741      3
2   220011      3
3    86131      4
4   227141      1
5   207941      3
6   221381      4
7   182861      3
8   161121      2
9   143401      3
**********
0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: EDUC1, dtype: bool
**********
{'less than high school': 2904, 'high school': 4906, 'more than high school but not college': 6999, 'college': 13656}
{'less than high school': 0.10202002459160373, 'high school': 0.172352011241876, 'more than high school but not college': 0.24588090637625154, 'college': 0.47974705779026877}
100.0
None

# Does not work with context manager

In [673]:
def proportion_of_education():
    # your code goes here
    # YOUR CODE HERE
    with pd.read_csv(jab_file, index_col = 0) as df:  # keeps throwing erros
        edu_dic = {"less than high school": 0,
            "high school": 0,
            "more than high school but not college": 0,
             "college": 0}
        for x in range(len(df)):
            for y in range(1, 5, 1):
                if (df.iloc[x]['EDUC1']) == y:
                    if y == 1:
                        edu_dic["less than high school"] = edu_dic["less than high school"] + 1
                    elif y == 2:
                        edu_dic["high school"] = edu_dic["high school"] + 1
                    elif y == 3:
                        edu_dic["more than high school but not college"] = edu_dic["more than high school but not college"] + 1
                    else:
                        edu_dic["college"] = edu_dic["college"] + 1
        edu_dic_per = {}
        edu_dic_per["less than high school"] = edu_dic["less than high school"]/len(df)
        edu_dic_per["high school"] = edu_dic["high school"]/len(df)
        edu_dic_per["more than high school but not college"] = edu_dic["more than high school but not college"]/len(df)
        edu_dic_per["college"] = edu_dic["college"]/len(df)
        perc_tote = (edu_dic_per["less than high school"] + edu_dic_per["high school"] + edu_dic_per["more than high school but not college"] + edu_dic_per["college"]) * 100
        print(type(edu_dic_per))
        return edu_dic_per

In [674]:
#proportion_of_education()

In [675]:
df_bf = pd.read_csv(jab_file, usecols=['SEQNUMC', 'BF_ENDR06', 'CBF_01', 'P_NUMFLU'])
df_bf
df_bf_short = df_bf.head(25)
df_bf_short

    SEQNUMC  BF_ENDR06  CBF_01  P_NUMFLU
0    128521   395.6875       1       NaN
1     10741        NaN       2       NaN
2    220011        NaN       2       NaN
3     86131        NaN       2       3.0
4    227141   547.8750       1       0.0
5    207941        NaN       2       NaN
6    221381   121.7500       1       0.0
7    182861   365.2500       1       0.0
8    161121   456.5625       1       0.0
9    143401    30.4375       1       NaN
10   128211   304.3750       1       3.0
11    92921        NaN      99       NaN
12   137041   426.1250       1       3.0
13    46531   213.0625       1       NaN
14    87781   304.3750       1       NaN
15    41081    91.3125       1       NaN
16   188611   456.5625       1       3.0
17      461        NaN       2       NaN
18      462        NaN       2       NaN
19   136171   426.1250       1       2.0
20   270401   121.7500       1       3.0
21   238751   243.5000       1       1.0
22   160991        NaN       2       0.0
23   195021   547.8750       1       NaN
24    36011        NaN       1       3.0

In [676]:
count_dict = {'breastfed': 0, 'notbreast': 0, 'neither': 0}
flu_vaxed = {'breastfed_vaxed': 0, 'notbreast_vaxed': 0, 'neither': 0}
for x in range(len(df_bf_short)):
    print('x'*10)
    print(x)
    print('x'*10)
    for y in range(1, 3, 1):
        print(y)
        print('#'*10)
        if (df_bf_short.iloc[x]['CBF_01']) == y:
            if y == 1:
                count_dict['breastfed'] = count_dict['breastfed'] + 1
                if (df_bf_short.iloc[x]['P_NUMFLU']) > 0:
                    flu_vaxed['breastfed_vaxed'] = flu_vaxed['breastfed_vaxed'] + (df_bf_short.iloc[x]['P_NUMFLU'])
                print(count_dict)
                print('1'*10)
                break
            elif y == 2:
                count_dict['notbreast'] = count_dict['notbreast'] + 1
                if (df_bf_short.iloc[x]['P_NUMFLU']) > 0:
                    flu_vaxed['notbreast_vaxed'] = flu_vaxed['notbreast_vaxed'] + (df_bf_short.iloc[x]['P_NUMFLU'])
                print(count_dict)
                print('2'*10)
                break
        elif (df_bf_short.iloc[x]['CBF_01']) != 1 and (df_bf_short.iloc[x]['CBF_01']) != 2:
            count_dict['neither'] = count_dict['neither'] + 1
            if (df_bf_short.iloc[x]['P_NUMFLU']) > 0:
                flu_vaxed['neither'] = flu_vaxed['neither'] + (df_bf_short.iloc[x]['P_NUMFLU'])
            print(count_dict)
            print('-'*10)
            break
        print(df_bf_short.iloc[x]['CBF_01'])
print('*'*10)
print(count_dict)
print(flu_vaxed)

xxxxxxxxxx
0
xxxxxxxxxx
1
##########
{'breastfed': 1, 'notbreast': 0, 'neither': 0}
1111111111
xxxxxxxxxx
1
xxxxxxxxxx
1
##########
2.0
2
##########
{'breastfed': 1, 'notbreast': 1, 'neither': 0}
2222222222
xxxxxxxxxx
2
xxxxxxxxxx
1
##########
2.0
2
##########
{'breastfed': 1, 'notbreast': 2, 'neither': 0}
2222222222
xxxxxxxxxx
3
xxxxxxxxxx
1
##########
2.0
2
##########
{'breastfed': 1, 'notbreast': 3, 'neither': 0}
2222222222
xxxxxxxxxx
4
xxxxxxxxxx
1
##########
{'breastfed': 2, 'notbreast': 3, 'neither': 0}
1111111111
xxxxxxxxxx
5
xxxxxxxxxx
1
##########
2.0
2
##########
{'breastfed': 2, 'notbreast': 4, 'neither': 0}
2222222222
xxxxxxxxxx
6
xxxxxxxxxx
1
##########
{'breastfed': 3, 'notbreast': 4, 'neither': 0}
1111111111
xxxxxxxxxx
7
xxxxxxxxxx
1
##########
{'breastfed': 4, 'notbreast': 4, 'neither': 0}
1111111111
xxxxxxxxxx
8
xxxxxxxxxx
1
##########
{'breastfed': 5, 'notbreast': 4, 'neither': 0}
1111111111
xxxxxxxxxx
9
xxxxxxxxxx
1
##########
{'breastfed': 6, 'notbreast': 4, 'neither': 0}
1111111111
xxxxxxxxxx
10
xxxxxxxxxx
1
##########
{'breastfed': 7, 'notbreast': 4, 'neither': 0}
1111111111
xxxxxxxxxx
11
xxxxxxxxxx
1
##########
{'breastfed': 7, 'notbreast': 4, 'neither': 1}
----------
xxxxxxxxxx
12
xxxxxxxxxx
1
##########
{'breastfed': 8, 'notbreast': 4, 'neither': 1}
1111111111
xxxxxxxxxx
13
xxxxxxxxxx
1
##########
{'breastfed': 9, 'notbreast': 4, 'neither': 1}
1111111111
xxxxxxxxxx
14
xxxxxxxxxx
1
##########
{'breastfed': 10, 'notbreast': 4, 'neither': 1}
1111111111
xxxxxxxxxx
15
xxxxxxxxxx
1
##########
{'breastfed': 11, 'notbreast': 4, 'neither': 1}
1111111111
xxxxxxxxxx
16
xxxxxxxxxx
1
##########
{'breastfed': 12, 'notbreast': 4, 'neither': 1}
1111111111
xxxxxxxxxx
17
xxxxxxxxxx
1
##########
2.0
2
##########
{'breastfed': 12, 'notbreast': 5, 'neither': 1}
2222222222
xxxxxxxxxx
18
xxxxxxxxxx
1
##########
2.0
2
##########
{'breastfed': 12, 'notbreast': 6, 'neither': 1}
2222222222
xxxxxxxxxx
19
xxxxxxxxxx
1
##########
{'breastfed': 13, 'notbreast': 6, 'neither': 1}
1111111111
xxxxxxxxxx
20
xxxxxxxxxx
1
##########
{'breastfed': 14, 'notbreast': 6, 'neither': 1}
1111111111
xxxxxxxxxx
21
xxxxxxxxxx
1
##########
{'breastfed': 15, 'notbreast': 6, 'neither': 1}
1111111111
xxxxxxxxxx
22
xxxxxxxxxx
1
##########
2.0
2
##########
{'breastfed': 15, 'notbreast': 7, 'neither': 1}
2222222222
xxxxxxxxxx
23
xxxxxxxxxx
1
##########
{'breastfed': 16, 'notbreast': 7, 'neither': 1}
1111111111
xxxxxxxxxx
24
xxxxxxxxxx
1
##########
{'breastfed': 17, 'notbreast': 7, 'neither': 1}
1111111111
**********
{'breastfed': 17, 'notbreast': 7, 'neither': 1}
{'breastfed_vaxed': 18.0, 'notbreast_vaxed': 3.0, 'neither': 0}

In [677]:
count_dict = {'breastfed': 0, 'notbreast': 0, 'neither': 0}
flu_vaxed = {'breastfed_vaxed': 0, 'notbreast_vaxed': 0, 'neither': 0}
for x in range(len(df_bf)):
    for y in range(1, 3, 1):
        if (df_bf.iloc[x]['CBF_01']) == y:
            if y == 1:
                count_dict['breastfed'] = count_dict['breastfed'] + 1
                if (df_bf.iloc[x]['P_NUMFLU']) > 0:
                    flu_vaxed['breastfed_vaxed'] = flu_vaxed['breastfed_vaxed'] + (df_bf.iloc[x]['P_NUMFLU'])
                break
            elif y == 2:
                count_dict['notbreast'] = count_dict['notbreast'] + 1
                if (df_bf.iloc[x]['P_NUMFLU']) > 0:
                    flu_vaxed['notbreast_vaxed'] = flu_vaxed['notbreast_vaxed'] + (df_bf.iloc[x]['P_NUMFLU'])
                break
        elif (df_bf.iloc[x]['CBF_01']) != 1 and (df_bf.iloc[x]['CBF_01']) != 2:
            count_dict['neither'] = count_dict['neither'] + 1
            if (df_bf.iloc[x]['P_NUMFLU']) > 0:
                flu_vaxed['neither'] = flu_vaxed['neither'] + (df_bf.iloc[x]['P_NUMFLU'])
            break
count_dict_tote = count_dict['breastfed'] + count_dict['notbreast'] + count_dict['neither']
print(count_dict_tote)
flu_vaxed_tote = flu_vaxed['breastfed_vaxed'] + flu_vaxed['notbreast_vaxed'] + flu_vaxed['neither']
bf_avg = flu_vaxed['breastfed_vaxed'] / count_dict['breastfed']
nbf_avg = (count_dict['notbreast'] + count_dict['neither']) / (flu_vaxed['notbreast_vaxed'] + flu_vaxed['neither'])
fluvax_avgs = (bf_avg, nbf_avg)
print(flu_vaxed_tote)
print('*'*10)
print(count_dict)
print(flu_vaxed)
print('*'*10)
print(bf_avg)
print(nbf_avg)
print(fluvax_avgs)
print(type(fluvax_avgs))

28465
28235.0
**********
{'breastfed': 24261, 'notbreast': 4085, 'neither': 119}
{'breastfed_vaxed': 24986.0, 'notbreast_vaxed': 3188.0, 'neither': 61.0}
**********
1.0298833518816206
1.2939365958756541
(1.0298833518816206, 1.2939365958756541)
<class 'tuple'>

In [678]:
df_bf.P_NUMFLU.unique()

array([nan,  3.,  0.,  2.,  1.,  4.,  5.,  6.])

# Working code for Question 2

In [794]:
def average_influenza_doses():
    # YOUR CODE HERE
    #df_bf = pd.read_csv(data_file)
    df_bf = pd.read_csv(jab_file, usecols=['SEQNUMC', 'BF_ENDR06', 'CBF_01', 'P_NUMFLU', 'BF_ENDR06'])
    df_bf.dropna()
    
    #count_dict = {'breastfed': 0, 'notbreast': 0, 'neither': 0}
    flu_vaxes = {'breastfed_vaxed': 0, 'notbreast_vaxed': 0, 'bf_vax_sum': 0, 'nb_vax_sum': 0}
    
    df_mask_one = df_bf['CBF_01'] == 1  # breastfed babies
    df_breast = df_bf[df_mask_one]
    df_mask_vax = df_breast['P_NUMFLU'] >= 0  # flu vaxes
    bf_vax_sum = df_breast[df_mask_vax]
    #df_mask_one = df_mask_one.dropna()
    
    df_mask_two = df_bf['CBF_01'] == 2  # non-breastfed babies
    df_nbreast = df_bf[df_mask_two]
    df_mask_vax_two = df_nbreast['P_NUMFLU'] >= 0  # flu vaxes
    nbf_vax_sum = df_nbreast[df_mask_vax_two]
    
    flu_vaxes["breastfed_vaxed"] = len(df_bf[df_mask_one])
    flu_vaxes["notbreast_vaxed"] = len(df_bf[df_mask_two])
    flu_vaxes["bf_vax_sum"] = bf_vax_sum
    flu_vaxes['nb_vax_sum'] = nbf_vax_sum
    
    #bf_avg_vax = flu_vaxes["bf_vax_sum"] / flu_vaxes["breastfed_vaxed"]
    #nbf_vax_avg = flu_vaxes['nb_vax_sum'] / flu_vaxes["notbreast_vaxed"]
    bf_avg_vax = df_breast[df_mask_vax]['P_NUMFLU'].mean()
    nbf_vax_avg = df_nbreast[df_mask_vax_two]['P_NUMFLU'].mean()
    
    fluvax_avgs = (bf_avg_vax, nbf_vax_avg)
    
    #print(df_bf[df_mask_two].head(10))
    #print(df_nbreast[df_mask_vax_two].head(10))
    #print(df_mask_vax.head(10))
    #print(df_breast[df_mask_vax].head(10))
    #print(len(df_bf[df_mask_one]))
    print(len(bf_vax_sum))
    print(len(nbf_vax_sum))
    print(bf_vax_sum.head(10))
    print(nbf_vax_sum.head(10))
    print('*'*10)
    print(bf_avg_vax)
    print(nbf_vax_avg)
    #print(flu_vaxes)
    #print(bf_vax_sum)
    print(type(fluvax_avgs))
    print(fluvax_avgs)
    #print(flu_vaxed)
    
    '''
    count_dict_tote = count_dict['breastfed'] + count_dict['notbreast'] + count_dict['neither']
    #print(count_dict_tote)
    flu_vaxed_tote = flu_vaxed['breastfed_vaxed'] + flu_vaxed['notbreast_vaxed'] + flu_vaxed['neither']
    bf_avg = flu_vaxed['breastfed_vaxed'] / count_dict['breastfed']
    nbf_avg = (count_dict['notbreast'] + count_dict['neither']) / (flu_vaxed['notbreast_vaxed'] + flu_vaxed['neither'])
    fluvax_avgs = (bf_avg, nbf_avg)
    print(fluvax_avgs)
    return fluvax_avgs '''
    #raise NotImplementedError()

In [795]:
average_influenza_doses()

13291
1997
    SEQNUMC  BF_ENDR06  CBF_01  P_NUMFLU
4    227141   547.8750       1       0.0
6    221381   121.7500       1       0.0
7    182861   365.2500       1       0.0
8    161121   456.5625       1       0.0
10   128211   304.3750       1       3.0
12   137041   426.1250       1       3.0
16   188611   456.5625       1       3.0
19   136171   426.1250       1       2.0
20   270401   121.7500       1       3.0
21   238751   243.5000       1       1.0
    SEQNUMC  BF_ENDR06  CBF_01  P_NUMFLU
3     86131        NaN       2       3.0
22   160991        NaN       2       0.0
28    52581        NaN       2       3.0
29   187771        NaN       2       3.0
76    72901        NaN       2       2.0
83    69491        NaN       2       0.0
87    13521        NaN       2       0.0
89   152282        NaN       2       2.0
97   137371        NaN       2       3.0
99   212191        NaN       2       0.0
**********
1.8799187420058687
1.5963945918878317
<class 'tuple'>
(1.8799187420058687, 1.5963945918878317)

In [681]:
bf_mask = df_bf_short['CBF_01'] == 1 # df_bf_short.math.isnan(df_bf_short['DFLU1'])

bf_mask

0      True
1     False
2     False
3     False
4      True
5     False
6      True
7      True
8      True
9      True
10     True
11    False
12     True
13     True
14     True
15     True
16     True
17    False
18    False
19     True
20     True
21     True
22    False
23     True
24     True
Name: CBF_01, dtype: bool

In [682]:
#mask = df_bf_short['DFLU1'] == math.isnan(df_bf_short['DFLU1'])

In [683]:
df_cpox = pd.read_csv(jab_file, usecols=['SEQNUMC', 'HAD_CPOX', 'P_NUMVRC', 'SEX'])
df_cpox
df_cpox_short = df_cpox.head(10)
df_cpox_short

   SEQNUMC  HAD_CPOX  SEX  P_NUMVRC
0   128521         2    1       NaN
1    10741         2    1       NaN
2   220011         2    2       NaN
3    86131         2    2       1.0
4   227141         2    2       0.0
5   207941         2    1       NaN
6   221381         2    2       1.0
7   182861         2    2       0.0
8   161121         1    1       0.0
9   143401         2    1       NaN

In [684]:
had_pox_totes = {'male': 0, "female": 0}  # short list for testing
no_pox_totes = {'male': 0, "female": 0}
for x in range(len(df_cpox_short)):
    #print(x)
    if (df_cpox_short.iloc[x]['HAD_CPOX']) == 1 and (df_cpox_short.iloc[x]['P_NUMVRC'] >= 1):
        print(df_cpox_short.iloc[x]['HAD_CPOX'])
        if (df_cpox_short.iloc[x]['SEX']) == 1:
            had_pox_totes['male'] = had_pox_totes['male'] + 1
            #break
        else:
            had_pox_totes['female'] = had_pox_totes['female'] + 1
            #break
    if (df_cpox_short.iloc[x]['HAD_CPOX']) == 2 and (df_cpox_short.iloc[x]['P_NUMVRC'] >= 1):
        if (df_cpox_short.iloc[x]['SEX']) == 1:
            no_pox_totes['male'] = no_pox_totes['male'] + 1
            #break
        else:
            no_pox_totes['female'] = no_pox_totes['female'] + 1
print(had_pox_totes)
print(no_pox_totes)

# male with Chickenpox --> filter SEX=1, HAD_CPOX = 1 and P_NUMVRC>=1 no included NA
# male without Chickenpox --> filter SEX=1, HAD_CPOX = 2 and P_NUMVRC>=1 no included NA
# nb(females vaccinated with chicken pox) / nb (females vaccinated without chicken pox). repeart for males

{'male': 0, 'female': 0}
{'male': 0, 'female': 2}

In [685]:
df_cpox.P_NUMVRC.unique()  # find all the unique values in a columnb

array([nan,  1.,  0.,  2.,  3.])

In [686]:
df_cpox.HAD_CPOX.unique()

array([ 2,  1, 77, 99])

In [687]:
had_pox_totes = {'male': 0, "female": 0}
no_pox_totes = {'male': 0, "female": 0}
pox_rates_by_sex ={}
unvaxed = 0
for x in range(len(df_cpox)):
    #print(x)
    if (df_cpox.iloc[x]['HAD_CPOX']) == 1 and (df_cpox.iloc[x]['P_NUMVRC'] >= 1):
        #print(df_cpox.iloc[x]['HAD_CPOX'])
        if (df_cpox.iloc[x]['SEX']) == 1:
            had_pox_totes['male'] = had_pox_totes['male'] + 1
            #break
        else:
            had_pox_totes['female'] = had_pox_totes['female'] + 1
            #break
    if (df_cpox.iloc[x]['HAD_CPOX']) == 2 and (df_cpox.iloc[x]['P_NUMVRC'] >= 1):
        if (df_cpox.iloc[x]['SEX']) == 1:
            no_pox_totes['male'] = no_pox_totes['male'] + 1
            #break
        else:
            no_pox_totes['female'] = no_pox_totes['female'] + 1
    if not(df_cpox.iloc[x]['P_NUMVRC'] >= 1):
        unvaxed += 1
tot_pox_cases = had_pox_totes['male'] + had_pox_totes['female']
tot_no_pox = no_pox_totes['male'] + no_pox_totes['female']
pox_rates_by_sex['male'] = had_pox_totes['male']/no_pox_totes['male']
pox_rates_by_sex['female'] = had_pox_totes['female']/no_pox_totes['female']
#pox_rate_by_sex['male'] = pox_totes['male']/tot_cases
#nopox_rate_by_sex['female'] = pox_totes['female']/tot_cases
print(had_pox_totes)
print(no_pox_totes)
print(tot_pox_cases)
print(tot_no_pox)
print(pox_rates_by_sex)
print(unvaxed)
print(tot_pox_cases + tot_no_pox + unvaxed)
print(len(df_cpox))

{'male': 68, 'female': 53}
{'male': 7028, 'female': 6802}
121
13830
{'male': 0.009675583380762664, 'female': 0.0077918259335489565}
14470
28421
28465

# Working code for Question 3

In [688]:
def chickenpox_by_sex():
    '''1- You divide the dataframe into two: one for male, the other for female. 
          On each dataframe apply the correct vaccination filtering (>=1).

       2- On each dataframe in part 1, calculate the ratio of children who contracted 
          chickenpox vs those who did not. Notice that the denominator is not equal to 
          the number of total children in each dataframe.

       3- Return the values you calculated with keys "male" and "female" respectively in a dictionary.'''
    
    # YOUR CODE HERE
    # m_vaxxed, m_unvaxxed, m_vaxxed_wpox, m_vaxxed_wopox
    #f_vaxxed, f_unvaxxed, f_vaxxed_wpox, f_vaxxed_wopox
    df_cpox = pd.read_csv(jab_file, usecols=['SEQNUMC', 'HAD_CPOX', 'P_NUMVRC', 'SEX'])
    male_vax_stats = {'m_vaxxed': 0, 'm_vaxxed_wpox': 0, 'm_vaxxed_wopox': 0,
                      'm_unvaxxed': 0, 'm_unvaxxed_wpox': 0, 'm_unvaxxed_wopox': 0}
    female_vax_stats = {'f_vaxxed': 0, 'f_vaxxed_wpox': 0, 'f_vaxxed_wopox': 0,
                        'f_unvaxxed': 0, 'f_unvaxxed_wpox': 0, 'f_unvaxxed_wopox': 0}
    
    pox_rates_by_sex ={}
    
    df_cpox_t = df_cpox['P_NUMVRC'] >= 0
    df_cpox_tot = df_cpox[df_cpox_t]
    
    df_cpox_m = df_cpox['SEX'] == 1  # create the boolean mask
    df_cpox_males = df_cpox[df_cpox_m]  # apply the boolean mask
    df_cpox_vm = df_cpox_males['P_NUMVRC'] >= 1 # create additional boolean mask
    df_cpox_vmales = df_cpox_males[df_cpox_vm]  # apply the boolean mask
    df_cpox_vmyes_mask = df_cpox_vmales['HAD_CPOX'] == 1
    df_cpox_vmyes = df_cpox_vmales[df_cpox_vmyes_mask]
    df_cpox_vmno_mask = df_cpox_vmales['HAD_CPOX'] == 2
    df_cpox_vmno = df_cpox_vmales[df_cpox_vmno_mask]
    
    
    df_cpox_uvm = df_cpox_males['P_NUMVRC'] == 0
    df_cpox_uvmales = df_cpox_males[df_cpox_uvm]
    df_cpox_uvmyes_mask = df_cpox_uvmales['HAD_CPOX'] == 1
    df_cpox_uvmyes = df_cpox_uvmales[df_cpox_uvmyes_mask]
    
    male_vax_stats['m_vaxxed'] = len(df_cpox_vmales)
    male_vax_stats['m_vaxxed_wpox'] = len(df_cpox_vmyes)
    male_vax_stats['m_vaxxed_wopox'] = len(df_cpox_vmno)
    male_vax_stats['m_unvaxxed'] = len(df_cpox_uvmales)
    male_vax_stats['m_unvaxxed_wpox'] = len(df_cpox_uvmyes)
    male_vax_stats['m_unvaxxed_wopox'] = male_vax_stats['m_unvaxxed'] - male_vax_stats['m_unvaxxed_wpox']
    
    df_cpox_f = df_cpox['SEX'] == 2  # create the boolean mask
    df_cpox_females = df_cpox[df_cpox_f]  # apply the boolean mask
    df_cpox_vfm = df_cpox_females['P_NUMVRC'] >= 1 # create additional boolean mask
    df_cpox_vfemales = df_cpox_females[df_cpox_vfm]  # apply the boolean mask
    df_cpox_vfmyes_mask = df_cpox_vfemales['HAD_CPOX'] == 1
    df_cpox_vfmyes = df_cpox_vfemales[df_cpox_vfmyes_mask]
    df_cpox_vfno_mask = df_cpox_vfemales['HAD_CPOX'] == 2
    df_cpox_vfno = df_cpox_vfemales[df_cpox_vfno_mask]
    
    df_cpox_ufvm = df_cpox_females['P_NUMVRC'] == 0
    df_cpox_uvfemales = df_cpox_females[df_cpox_ufvm]
    df_cpox_uvfmyes_mask = df_cpox_uvfemales['HAD_CPOX'] == 1
    df_cpox_uvfmyes = df_cpox_uvfemales[df_cpox_uvfmyes_mask]
    
    female_vax_stats['f_vaxxed'] = len(df_cpox_vfemales)
    female_vax_stats['f_vaxxed_wpox'] = len(df_cpox_vfmyes)
    female_vax_stats['f_vaxxed_wopox'] = len(df_cpox_vfno)
    female_vax_stats['f_unvaxxed'] = len(df_cpox_uvfemales)
    female_vax_stats['f_unvaxxed_wpox'] = len(df_cpox_uvfmyes)
    female_vax_stats['f_unvaxxed_wopox'] = female_vax_stats['f_unvaxxed'] - female_vax_stats['f_unvaxxed_wpox']

    # we need the vaxed children
    # ratio of those who contracted pox versue those who didn't by sex
    male_ratio = male_vax_stats['m_vaxxed_wpox'] / male_vax_stats['m_vaxxed_wopox']
    female_ratio = female_vax_stats['f_vaxxed_wpox'] / female_vax_stats['f_vaxxed_wopox']
    
    pox_rates_by_sex["male"] = male_ratio
    pox_rates_by_sex["female"] = female_ratio
    
    # {'male': 0.0096xxxxxxxxxx2664, 'female': 0.0077xxxxxxxxxx9565}
    # correct female 'female': 0.0077918259335489565
    print(df_cpox_vfno.head())
    print(len(df_cpox_vfno))
    print(len(df_cpox_tot))
    print(male_vax_stats['m_vaxxed'] + female_vax_stats['f_vaxxed'] + male_vax_stats['m_unvaxxed'] + female_vax_stats['f_unvaxxed'])
    print(male_ratio)
    print(female_ratio)
    print(pox_rates_by_sex)
    #print(df_cpox_vmyes_mask.head(10))
    #print(df_cpox_vmyes_mask.head(10))
    print(male_vax_stats)
    print(female_vax_stats)
    #return pox_rates_by_sex
    #raise NotImplementedError()

In [689]:
chickenpox_by_sex()

    SEQNUMC  HAD_CPOX  SEX  P_NUMVRC
3     86131         2    2       1.0
6    221381         2    2       1.0
20   270401         2    2       1.0
22   160991         2    2       1.0
24    36011         2    2       1.0
6802
15333
15333
0.009675583380762664
0.0077918259335489565
{'male': 0.009675583380762664, 'female': 0.0077918259335489565}
{'m_vaxxed': 7118, 'm_vaxxed_wpox': 68, 'm_vaxxed_wopox': 7028, 'm_unvaxxed': 701, 'm_unvaxxed_wpox': 29, 'm_unvaxxed_wopox': 672}
{'f_vaxxed': 6877, 'f_vaxxed_wpox': 53, 'f_vaxxed_wopox': 6802, 'f_unvaxxed': 637, 'f_unvaxxed_wpox': 23, 'f_unvaxxed_wopox': 614}

In [690]:
df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
                   "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})
df

    had_chickenpox_column  num_chickenpox_vaccine_column
0                       1                              1
1                       2                              1
2                       1                              5
3                       2                              0
4                       1                              1
..                    ...                            ...
95                      1                              4
96                      1                              4
97                      2                              0
98                      2                              4
99                      1                              4

[100 rows x 2 columns]

In [691]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [692]:
#pox_vax_fr = pd.DataFrame({'had_chickenpox_column': 0, 'num_chickenpox_vaccine_column': 0})
#pox_vax_fr

In [693]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    # this is just an example dataframe
    #df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
    #               "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})

    # here is some stub code to actually run the correlation
    #corr, pval=stats.pearsonr(df["had_chickenpox_column"],df["num_chickenpox_vaccine_column"])
    
    # dataframe length 15286, inserted the df.sort_index(inplace= True) line,
    # and corr,pval of this (***, 2.7780263182916748e-18)
    # just return the correlation
    #return corr

    # YOUR CODE HERE
    had_pox = []
    num_vax = []
    base_core = zip(had_pox, num_vax)
    #df_cpox.dropna()
    for x in range(len(df_cpox)):
        if (df_cpox.iloc[x]['HAD_CPOX']) == 1 and (df_cpox.iloc[x]['P_NUMVRC'] >= 0):
            had_pox.append(1)
            num_vax.append((df_cpox.iloc[x]['P_NUMVRC']))
        #elif (df_cpox.iloc[x]['HAD_CPOX']) == 1 and not(df_cpox.iloc[x]['P_NUMVRC'] >= 0):
        #    had_pox.append(1)
        #    num_vax.append(0)
        elif (df_cpox.iloc[x]['HAD_CPOX']) == 2 and (df_cpox.iloc[x]['P_NUMVRC'] >= 0):
            had_pox.append(2)
            num_vax.append((df_cpox.iloc[x]['P_NUMVRC']))
        #elif (df_cpox.iloc[x]['HAD_CPOX']) == 2 and not(df_cpox.iloc[x]['P_NUMVRC'] >= 0):
        #    had_pox.append(2)
        #    num_vax.append(0)
            
    had_pox_s = pd.Series(had_pox)
    df_had_pox = pd.DataFrame(had_pox_s)
    df_had_pox = df_had_pox.rename(columns = {0: "had_chickenpox_column"})
                              
    num_vax_s = pd.Series(num_vax)
    df_num_vax = pd.DataFrame(num_vax_s)
    df_num_vax = df_num_vax.rename(columns = {0: "num_chickenpox_vaccine_column"})
    
    pox_vac_df = pd.concat([df_had_pox, df_num_vax], axis=1)
    pox_vac_df.dropna()
    corr, pval=stats.pearsonr(pox_vac_df["had_chickenpox_column"],pox_vac_df["num_chickenpox_vaccine_column"])
    
    #pox_vac_df = pd.DataFrame({'had_chickenpox_column': had_pox_s, 'num_chickenpox_vaccine_column': num_vax_s})
    print(had_pox_s)
    print(num_vax_s)
    print(type(pox_vac_df))
    print(pox_vac_df)
    #print(base_core)
    print(corr)
    print(pval)
    return pval        
  
    raise NotImplementedError()

In [694]:
corr_chickenpox()

0        2
1        2
2        2
3        2
4        1
        ..
15281    2
15282    2
15283    2
15284    2
15285    2
Length: 15286, dtype: int64
0        1.0
1        0.0
2        1.0
3        0.0
4        0.0
        ...
15281    1.0
15282    1.0
15283    1.0
15284    1.0
15285    1.0
Length: 15286, dtype: float64
<class 'pandas.core.frame.DataFrame'>
       had_chickenpox_column  num_chickenpox_vaccine_column
0                          2                            1.0
1                          2                            0.0
2                          2                            1.0
3                          2                            0.0
4                          1                            0.0
...                      ...                            ...
15281                      2                            1.0
15282                      2                            1.0
15283                      2                            1.0
15284                      2                            1.0
15285                      2                            1.0

[15286 rows x 2 columns]
0.07044873460147984
2.7780263182916748e-18

2.7780263182916748e-18

# Working code for Question 4

In [801]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    # this is just an example dataframe
    #df=pd.DataFrame({"had_chickenpox_column":np.random.randint(1,3,size=(100)),
    #               "num_chickenpox_vaccine_column":np.random.randint(0,6,size=(100))})

    # here is some stub code to actually run the correlation
    #corr, pval=stats.pearsonr(df["had_chickenpox_column"],df["num_chickenpox_vaccine_column"])
    
    # just return the correlation
    #return corr

    # YOUR CODE HERE
    df_cpox = pd.read_csv(jab_file, usecols=['SEQNUMC', 'HAD_CPOX', 'P_NUMVRC'])
    had_pox = []
    num_vax = []
    #had_pox_x = []
    #num_vax_x = []
    
    df_wpox_mask = df_cpox['HAD_CPOX'] == 1  #create a single column mask
    df_wpox = df_cpox[df_wpox_mask]     # number of children with pox
    df_wpox_vax_mask = df_wpox['P_NUMVRC'] >= 0
    df_wpox_vax = df_wpox[df_wpox_vax_mask]  # children with pox/number of vaxes
    
    df_nopox_mask = df_cpox['HAD_CPOX'] == 2  
    df_nopox = df_cpox[df_nopox_mask]  # number of childreb without pox
    df_nopox_vax_mask = df_nopox['P_NUMVRC'] >= 0
    df_nopox_vax = df_nopox[df_nopox_vax_mask]  # childred w/out pox/number of vaxes
    
    had_pox = list(df_wpox_vax['HAD_CPOX'])
    had_pox.extend(list(df_nopox_vax['HAD_CPOX']))
    
    num_vax = list(df_wpox_vax['P_NUMVRC'])
    num_vax.extend(list(df_nopox_vax['P_NUMVRC']))
    
    '''
    wpox_series = df_wpox_vax['HAD_CPOX'].squeeze()  #  converts a df column to a series
    wpox_series_two = df_nopox_vax['HAD_CPOX'].squeeze()
    wpox_series_vax = df_wpox_vax['P_NUMVRC'].squeeze()
    wpox_series_vaxtwo = df_nopox_vax['P_NUMVRC'].squeeze()
    
    s_list = wpox_series_two.tolist()  # converts a series to a list
    s_list_two = wpox_series_vaxtwo.tolist()
    
    had_pox = wpox_series.tolist()
    num_vax = wpox_series_vax.tolist()
    had_pox.extend(s_list)  # appends an entire list onto another list
    num_vax.extend(s_list_two) '''
    
    # this section rebuilds the dataframe with just the two needed columns
    had_pox_s = pd.Series(had_pox)
    df_had_pox = pd.DataFrame(had_pox_s)
    df_had_pox = df_had_pox.rename(columns = {0: "had_chickenpox_column"})
                              
    num_vax_s = pd.Series(num_vax)
    df_num_vax = pd.DataFrame(num_vax_s)
    df_num_vax = df_num_vax.rename(columns = {0: "num_chickenpox_vaccine_column"})
    
    pox_vac_df = pd.concat([df_had_pox, df_num_vax], axis=1)
    pox_vac_df.dropna()
    pox_vac_df.sort_index(inplace=True)
    
    corr, pval=stats.pearsonr(pox_vac_df["had_chickenpox_column"],pox_vac_df["num_chickenpox_vaccine_column"])
    
    cols = 0
    for x in range(4):
        pox_vac_df_mask = pox_vac_df["num_chickenpox_vaccine_column"] == x
        pox_vac_df_vaxnums = pox_vac_df[pox_vac_df_mask]
        cols = cols + len(pox_vac_df_vaxnums)
    
    #print(len(pox_vac_df["num_chickenpox_vaccine_column"] == 3.0))
    # test prints
    #print(had_pox_x)
    #print(num_vax)
    print(cols)
    print(len(num_vax))
    print(len(pox_vac_df_vaxnums))
    print('*'*10 + 'list above')
    print(df_wpox_vax.head(10))
    print(len(df_wpox_vax))
    print('*'*10)
    print(df_nopox_vax.head(10))
    print(len(df_nopox_vax))
    print('*'*10)
    #print(type(wpox_series))
    #print(wpox_series_vax)
    print('*'*10)
    print(df_had_pox)
    print(df_num_vax)
    print('*'*10)
    print(type(pox_vac_df))
    print(pox_vac_df)
    print('*'*10)
    print(df_wpox_vax.P_NUMVRC.unique())
    print(df_nopox_vax.P_NUMVRC.unique())
    print(pval)
    print(corr)
    # 0.070xxxxxxxxxx6461; supposedly correct answer from the forum
    #print(corr)
    #return pval

In [802]:
corr_chickenpox()

15286
15286
1
**********list above
      SEQNUMC  HAD_CPOX  P_NUMVRC
8      161121         1       0.0
461    255961         1       1.0
612     58421         1       0.0
687     72351         1       1.0
721    176421         1       1.0
797     12211         1       0.0
863     39451         1       1.0
1303   150671         1       0.0
1324    10511         1       1.0
1479   126621         1       1.0
173
**********
    SEQNUMC  HAD_CPOX  P_NUMVRC
3     86131         2       1.0
4    227141         2       0.0
6    221381         2       1.0
7    182861         2       0.0
10   128211         2       1.0
12   137041         2       1.0
16   188611         2       2.0
19   136171         2       1.0
20   270401         2       1.0
21   238751         2       1.0
15113
**********
**********
       had_chickenpox_column
0                          1
1                          1
2                          1
3                          1
4                          1
...                      ...
15281                      2
15282                      2
15283                      2
15284                      2
15285                      2

[15286 rows x 1 columns]
       num_chickenpox_vaccine_column
0                                0.0
1                                1.0
2                                0.0
3                                1.0
4                                1.0
...                              ...
15281                            1.0
15282                            1.0
15283                            1.0
15284                            1.0
15285                            1.0

[15286 rows x 1 columns]
**********
<class 'pandas.core.frame.DataFrame'>
       had_chickenpox_column  num_chickenpox_vaccine_column
0                          1                            0.0
1                          1                            1.0
2                          1                            0.0
3                          1                            1.0
4                          1                            1.0
...                      ...                            ...
15281                      2                            1.0
15282                      2                            1.0
15283                      2                            1.0
15284                      2                            1.0
15285                      2                            1.0

[15286 rows x 2 columns]
**********
[0. 1. 2.]
[1. 0. 2. 3.]
2.7780263182891086e-18
0.07044873460148018

In [721]:
#pox_vac_df.had_chickenpox_column.unique()